.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0;
  margin: 0;
}

.image {
  width: 400px;
  height: 240px;
  object-fit: cover;
  cursor: zoom-in;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.25);
  }
}
