.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.button {
  background-color: #798ca1;
  border-radius: 32px;
  color: white;
  width: 140px;
  height: 44px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 40px rgba(0, 0, 0, 0.25);
  }
  &:active {
    transform: scale(0.95);
  }
}
